/bin/
/MainImage.jasper
/SprintNewsMain.jasper
/StoriesPlanned.jasper
/SprintRoadmap.jasper
/RequestsFromUsers.jasper
/jar/
/MainPage.jasper
/StoriesList.jasper
/SprintNewsHomeV2.jasper
/SprintNewsColumnContent.jasper
/StoriesListV2.jasper
/SprintDateInfo.jasper
/ChartUserVsStories.jasper
